:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}
  
#container {
    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    width: 20px;
    padding: 0.5rem;
    border: 1px solid black;
    text-align: center;
}

/* .grid-item:hover {
    background-color: yellow;
} */

.active {
    background-color: yellow;
}


